body {
     background-color: rgb(29, 32, 32);
    text-align: center;
   padding: 50px;
   margin: auto; 

}
fieldset{ 
    font-size: 15pt;
    color: rgb(82, 13, 61);
     padding: 50px; background-color: rgb(182, 209, 214);
   
}
