*{
    margin: 0;
    padding: 0;
  
}
header {
    text-align: center;
    background-color: rgb(48, 46, 46);
    margin-top: -2px;
    padding: 17px;
}
.head a {
    text-decoration: none;
    color: rgb(230, 225, 225);
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 15px;   
}
.head :hover { color: white;
}
.main{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif ;
}

.shop {
    background-color: #ebebee;
    margin: 0px;
    font-size: small;
    text-align: center;
    padding: 10px;
}
.shop :hover {text-decoration: underline;}
.lin {text-decoration: none;}
.pro {
    margin: 0;
    line-height: 0.7;
    padding: 30px;
    height: 735px;
    background-color: whitesmoke;
    cursor: pointer;  
    position: relative; /* Relative here work as a parent container */
}
.pro p {
    margin: 10px;
    font: 1em sans-serif;
    font-weight: bold;
}
.link a {
    text-decoration: none;
    font-size: 17px;
    margin: 20px;
    color: rgb(109, 109, 241);
}
.link :hover { text-decoration: underline;}
.img1 {
    width: 380px;
    padding: 40px;
    cursor: pointer;
}
.act {
  width: 1350px;
    height: 408px;
    padding-top: 20px;
    position: absolute; /* Absolute works with the main screen */
    top: 500px;
    cursor: pointer;
    background-color: #eeeffe;
}
.apple { width: 11%;}
.img2 {
    width: 700px;
    height: 228px;
    cursor: pointer;
}
.ab {
    width: 100%;
    margin-top: 20px;
}
.super {  /* iPhone 13 */
    background-color: #35283c;
    width: 100%;
}
.img3 {  /* iPhone 13 img*/
    width: 70%;
    padding-top: 20px;
}
.super h1 {   /* heading of iPhone 13*/
    color: white;
    padding-top: 50px;
    line-height: 0%;
}
.super p {     /* iPhone para*/
    color: rgb(212, 152, 162);
    margin-top: 22px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.watch {     /*div of watch */
    width: 100%;
    background-color: whitesmoke;
    margin-top: 0px;
}
.new {     /* NEW */
    font-size: 15px;
    color: rgb(250, 57, 57);
    padding-top: 20px;
}
.watch h3 { text-transform: uppercase;
    margin-top: 0px;
    font-size:30px;
    margin-bottom: -13px;
}
.series { 
    color: crimson;   /* Series 7*/
    text-transform: uppercase;
    font-size: 13px; 
    margin-top: 15px;
    padding-bottom: 10px;
}
.series + p{
    padding-bottom: 5px;
}
.img4 {    /* watch img*/
    width: 1240px;
    margin-top: 20px;
}
.macfit { display: inline-block;  /* div of macbook and fitness*/
    margin-top: 10px;
    height: 500px;
}
.mac {         /* div of MacBook */
    width: 49%;
    position: absolute;
    right: 0px;
     background-color: rgb(247, 247, 247, 0.6); 
    height: 500px;
    margin-left: 70px;
}
.mac h2, #fitness h2 { margin-top: 35px;
    font-size: 30px;
}
.mac p{ 
    font-size: 0.9em;
     margin-bottom: 13px;
     color: rgb(82, 80, 80);
}
.img5 {  /* macbook img */
    width: 550px;
    padding-top: 40px;
}
#fitness {    /* div of ftness*/
    width: 50%;
    height: 500px;
    position: absolute;
    left: 0px;
    background-color: #f0f0f0;  
}
#fitness p {   /* after FITNESS para*/
      font-size: 0.85em;
      color: rgb(82, 80, 80);
      margin-bottom: 5px;
}
.lik a {  /* Link */
    font-size: 0.9em; text-decoration: none; color: rgb(109, 109, 241);
}
.lik :hover {text-decoration: underline;}
.img6 {  /* fitness img */
    width: 600px;
    height: 370px;
    left: 10px;
    position: absolute;
    top: 130px;
}
.airho {    /* div of AirPod & HomePod*/
     display: inline-block;
}
.airpod {
    position: absolute;
     width: 69%; 
}
.spatial h1{   /* AirPod heading */
    position: absolute;
    top: 300px;
    left: 250px;
}
.spatial p {   /* para */
    position: absolute;
    white-space: nowrap;
    left: 230px;
    top: 330px;
    color: rgb(82, 80, 80);
    font-size: 15px;
    padding-top: 9px;
}
.spatial a {   /* link */
    text-decoration: none;
    position: absolute;
    top: 380px;
    white-space: nowrap;
    font-size: 15px;
    left: 250px;
    color: royalblue;
}
.img7 {   /*airpod img */
    width: 670px;
    height: 500px;
    left: 0;
    position: absolute;
    top: 10px;
}
.homie {
    position: absolute; 
    width: 50%;
    background-color: red;
}
.img8{ /* HomePod Mini */
    position: absolute;
    left: 685px;
    width: 660px;
    height: 500px;
    top: 10px;
}
.hom {    /* heading */
    position: absolute;
   top: 40px;
    left: 900px;
    white-space: nowrap;
    font-size: 40px;
}
.learn {  /* Link */
    position: absolute;
    top: 100px;
    left: 980px;
    color: rgb(80, 78, 207);
    text-decoration: none;
    font-size: 30px;
    line-height: 0;
    white-space: nowrap;
}
.cardtv { display: inline-block;
       margin-top: 10px;
       height: 500px;
}
.card {
    position: relative;
}

.img9 { /* card pic*/
     position: absolute;
    width: 670px;
    height: 500px;
    top: 1020px; 
}
.card h2{
    position: absolute;
    top: 1070px;
    left: 270px;
    background: -webkit-linear-gradient( 45deg, rgb(247, 18, 18), rgb(193, 19, 199), rgb(47, 47, 185)); opacity: 0.9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}
.card p {
    position: absolute;
    white-space: nowrap;
    /* top: 1130px; */
    
}
.save {   /* para */
    top: 1120px;
    left: 190px;
    color: rgb(77, 72, 72);
    font-size: 0.85em; 
}
.only{   /* para */
    font-size: 0.75em;
    color: rgb(116, 113, 113);
    top: 1165px; 
    left: 200px;
    line-height: 0;
}
.card .lik a {   /* link*/
    position: absolute;
    top: 1200px; 
    color: royalblue;
    white-space: nowrap;
    text-decoration: none;
    font-size: 15px;
    left: 230px;
    line-height: 0;
 }
.tv { position: relative;}

.img10 { /* tv+ pic*/
    left: 683px;
    position: absolute;
    width: 660px;
    height: 500px;
    top: 1020px; 
}

.tv h1 {
    position: absolute;
    left: 1000px;
    top: 1070px;
    color: rgb(63, 63, 63);
    
}
.find {   /* tv 2nd last line*/
    position: absolute;
    top: 1450px;
    left: 960px;
    white-space: nowrap;
}
.now { /*tv last line */
    position: absolute;
    top: 1470px;
    left: 1000px;
    white-space: nowrap;
    font-size: 0.79em;
    line-height: 1.5;
    color: rgb(32, 32, 32);
}
.el {   /* El Deafo */
    position: absolute;
    top: 1370px;
    width: 170px;
    height: 60px;
    left: 940px;
}
.follow { /*  last div*/
    position: relative;
    top: 955px;
    font-size: 00.48em;
    background-color: whitesmoke;
}
.subs { /* last div 1st line*/
    margin: 70px;
    padding-top: 20px;
    color: rgb(56, 55, 55); 
    font-size: 12px;
    height: 800px;
}    
.music {  /* last div para */
    line-height: 2.3;
}
.other { /* link */
    text-decoration: none;
    color: royalblue;
    font-weight: bold;
}
.Us {
    text-decoration: none;
    color: rgb(61, 59, 59);
    position: relative;
    left: 1120px;
    bottom: 18px;
}
li a{
    text-decoration: none;
    color: black; 
    line-height: 15px;
} 
/* here all about last links */
.class { padding-top: 10px; padding-bottom: 30px;}
li :hover { text-decoration: underline;}
 li { list-style: none;
       color: rgb(117, 115, 115);}
.first {position: absolute;}
.second {
    position: relative; 
    left: 130px;
}
.rd {
    position: relative;
    top: 10px;   left: 130px;
}
.th {
    position: absolute;
    left: 330px;
    bottom: 195px;
}
.fifth {
    position: absolute;
    left: 510px;
    top: 445px;
   
}
.sixth {
    position: absolute;
    left: 680px;
    top: 445px;
}
.last {
    height: 50px;
    top: 50px;
    position: relative;
    font-size: 13px;
}





